html(lang='en')
  head
  body
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/bbs.css')
    title Document      
    .container
      h2 Bulletin Board
      table.table.table-striped
        thead#thead
          tr
            th no.
            th 제목
            th 작성자
            th 조회수
            th 작성일
        tbody
          tr
            td 1
            td 나도 이게 어떻게 되는지 잘 모글겠다 허허허허허 
            td brian2929
            td 23
            td 2020-12-31
          tr
            td 2
            td 나도 이게 어떻게 되는지 잘 모글겠다 허허허허허 
            td brian2929
            td 23
            td 2020-12-31
          tr
            td 3
            td 나도 이게 어떻게 되는지 잘 모글겠다 허허허허허 
            td brian2929
            td 23
            td 2020-12-31
    | ```